<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>[%date{ISO8601}] %-5level %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>data/easy-deposit-agreement-generator.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>data/easy-deposit-agreement-generator.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%date{ISO8601}] %-5level %msg%n</pattern>
        </encoder>
    </appender>
    <root level="warn">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDERR"/>
    </root>
    <logger name="nl.knaw.dans.easy" level="trace"/>
</configuration>
